.dashboard-content {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}
  
.dashboard-para {
    align-self: center;
    color: var(--secondary-color);
    font-weight: 600;
}
  
.home__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 10rem;
    justify-content: center;
}
  