a {
    color: var(--black-color);
    display: block;
}

.p-menuitem-link {
    display: flex;
}

ul {
    margin-bottom: 0px;
}

/* it's primereact class  */
.dropdown-menu {
    left: -8em;
    top: 3em;
}

.main__navbar_div {
    top: 0;
    z-index: 1020;
    box-shadow: 0 0.125rem 0.25rem rgba(8, 10, 12, 0.075);
    position: sticky;
    background-color: var(--white-background-color);
}

.dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
