:root {
    --primary-color: #0047AB;
    --secondary-color: #64748B;
    --red-color: #d33;
    --company-logo-background-color: #000000;
    --blue-color:#0F2137;
    --text-color: #000000;
    --white-color: #ffffff;
    --green-color: #00612F;
    --grey-color: #64748B;
    --blue-700: #295bac;
}